@import '../../scss/var';
@import '../../scss/mixin';


.left-bar {
  margin-top: $header-height;
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 100%;
  background-color: #f4f4f4;
  padding-bottom: 70px;
  border-right: 1px solid #eaeaea;

  &_open {
    animation: open .2s;
    @keyframes open {
      from {width: 50px;}
      to {width: 200px;}
    }
    width: 200px;
  }

  &_close {
    animation: close .2s;
    @keyframes close {
      from {width: 200px;}
      to {width: 50px;}
    }
  }

  &__header {
    display: flex;
    width: 100%;
    height: 50px;
    padding-left: 8px;
    align-items: center;
  }

  &__btn {
    font-size: 1.1rem;
    width: 30px;
    height: 30px;
    @include button;
    color: $main-black-color;

    &:hover {
      background-color: #fff;
    }
  }

  &__list {
    list-style: none;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: 100%;
    margin-left: 3px;

  }
  &__category {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 12px;
    font-size: 0.8rem;

    &:hover {
      background-color: #fff;
    }
  }

  &__btn-cat {
    display: flex;
    font-size: .9rem;
  }
  &__title {
    margin: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__size {
    margin-left: auto;
    padding: 0 0.5px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    border: none;
    background: inherit;
    margin-left: 10px;
    &:focus {
      outline: none;
      height: 100%;
    }
  }
  
}
.custom {
  margin-top: 50px;
}



// .left-bar {
//   padding-top: $header-height;
//   height: 100vh;
//   width: 51px;
//   background-color: $second-color-gray;
//   border-right: .1px solid $main-gray-color;
//   font-size: 13px;
//   overflow: hidden;
//   overflow-y: auto;
//   &__input {
//     height: $task-height;
//     background-color: inherit;
//     width: 125px;
//     border: none;
//     &:focus {
//       outline: none;
//     }
//     &:hover {
//       background-color: inherit;
//     }
//   }

//   &_open {
//     animation: open .2s;
//     @keyframes open {
//       from {width: 51px;}
//       to {width: 201px;}
//     }
//     width: 201px;
//   }
//   &_close {
//     animation: close .2s;
//     @keyframes close {
//       from {width: 201px;}
//       to {width: 51px;}
//     }
//   }
//   &__btn {
//     font-size: 15px;
//     margin-left: 5px;
//     color: $main-black-color;
//     width: 40px;
//     height: 40px;

//     margin-top: 40px;
//     &:hover {
//       background-color: rgba($color: #fff, $alpha: .4)
//     }
//     @include button;
//     border-radius: 0;
//     margin-bottom: 50px;
//   }

//   &__category {
//     text-decoration: none;
//     display: flex;
//     width: 201px;
//     font-size: 13px;
//     font-weight: 400;
//     align-items: center;
//     justify-content: space-between;
//     &:hover {
//       cursor: pointer;
//       background-color: rgba($color: $main-gray-color, $alpha: .4)
//     }
//     &_active {
//       background-color: rgba($color: $main-gray-color, $alpha: .7);
//       color: $main-color;
//     }
//   }
//   &__size {
//     margin-right: 15px;
//   }
//   &__wrapper {
//     display: flex;
//     align-items: center;
//     width: 100%;
//     height: 40px;
//   }

//   &__btn-cat {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 40px;
//     width: 50px;
//   }

//   &__title {
//     max-width: 100px;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     font-size: 13px;
//   }
// }

// .link {
//   text-decoration: none;
//   color: $main-black-color;
// }
// .custom {
//   margin-top: 50px;
// }