@import '../../scss/var';
@import '../../scss/mixin';

.tasks {
  margin-top: $header-height;
  display: flex;
  flex: 1 1 0;
  overflow: hidden;
  flex-direction: column;
  overflow: hidden;
  padding: 20px 10px;
  padding-bottom: 0;

  &__myday {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  &__title {
    margin: 10px 10px;
    font-size: 1.6rem;
    border: none;

    &:disabled {
      background-color: inherit;
      color: inherit;
      border: none;
    }
  }

  & .block {
    overflow: auto;
  }
}