@import '../../scss/var';
@import '../../scss/mixin';

.tasks {
  margin-top: $header-height;
  display: flex;
  flex: 1 1 0;
  overflow: hidden;
  flex-direction: column;
  overflow: hidden;
  padding: 20px 10px;
  padding-bottom: 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $main-color;
  }

  &__delete {
    font-size: .9rem;
    padding: 5px 10px;
    cursor: pointer;
    color: $second-color;
    &:hover {
      background-color: rgba($color: #000000, $alpha: .1);
    }
  }

  &__myday {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  &__title {
    margin: 10px 10px;
    font-size: 25px;
    border: none;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: none;
    &:disabled {
      background-color: inherit;
      color: inherit;
      border: none;
    }
  }

  & .block {
    overflow: auto;
  }
}