@import '../../scss/var';
@import '../../scss/mixin';


.wrapper {
  width: 100%;
  cursor: pointer;
  position: relative;

  &_selected {
    background-color: rgba($color: #000000, $alpha: .10);
  }

  &__click {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 0;
    bottom: 0;
  }
}

.wrapper__hover {
  &:hover {
    background-color: rgba($color: #000000, $alpha: .10);
  }
}


.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $main-black-color;
  font-size: 0.85rem;
  margin: 0 10px;
  padding: 10px 0;
  animation: animationItem .2s ease-in-out forwards;
  @keyframes animationItem {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  &__text {
    padding-left: 10px;
    width: 95%;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__group {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .6rem;
  }

  &__list {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
  }

  &__bell {
    margin-right: 10px;
    font-size: .65rem;
  }

  &__circle {
    position: relative;
    @include checkCirlce($main-color);

    &:hover {
      &::after {
        left: 4px;
        top: 10px;
        @include  circlePs(5px, 45deg, $main-color)
      }
      &::before {
        right: 4px;
        top: 9px;
        @include  circlePs(7px, -45deg, $main-color)
      } 
    }
    &_done {
      background-color: $main-color;
      &::after {
        left: 4px;
        top: 10px;
        @include  circlePs(5px, 45deg, #fff)
      }
      &::before {
        right: 4px;
        top: 9px;
        @include  circlePs(7px, -45deg, #fff)
      }
      &:hover {
        &::before , &::after {
          display: none
        }
        background-color: inherit;
      }
    }
  }

  &__icon {
    margin-left: auto;

    &:hover {
      cursor: pointer;
      opacity: .4;
    }

    &_imprt {
      color: $main-color;
    }
  }

  &__due {
    display: flex;
    margin-right: 10px;

    &_today {
      color: $main-color;
    }

    &_over {
      color: #db3a29;
    }
  }

  &__calendar {
    margin-right: 10px;
  }

  &__note {
    margin-right: 10px;
  }

  &__sun {
    margin-right: 10px;
  }
}

