@import '../../scss/var';
@import '../../scss/mixin';


.wrapper {
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: rgba($color: #000000, $alpha: .10);
  }
}


.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $main-black-color;
  font-size: 0.85rem;
  margin: 0 10px;
  padding: 10px 0;

  &__text {
    padding-left: 10px;
    width: 95%;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__group {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .6rem;
  }

  &__circle {
    position: relative;
    @include checkCirlce($main-color);

    &:hover {
      &::after {
        left: 4px;
        top: 10px;
        @include  circlePs(5px, 45deg, $main-color)
      }
      &::before {
        right: 4px;
        top: 9px;
        @include  circlePs(7px, -45deg, $main-color)
      } 
    }
    &_done {
      background-color: $main-color;
      &::after {
        left: 4px;
        top: 10px;
        @include  circlePs(5px, 45deg, #fff)
      }
      &::before {
        right: 4px;
        top: 9px;
        @include  circlePs(7px, -45deg, #fff)
      }
      &:hover {
        &::before , &::after {
          display: none
        }
        background-color: inherit;
      }
    }
  }

  &__icon {
    margin-left: auto;

    &:hover {
      cursor: pointer;
      opacity: .4;
    }

    &_imprt {
      color: $main-color;
    }
  }
}
