@import '../../scss/var';
@import '../../scss/mixin';


.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1rem;
  border-bottom: 1px solid $main-black-color;
  margin: 0 10px;
  cursor: pointer;

  &__desc {
    font-size: 1.1rem;
    margin-left: 15px;
    padding: 10px 0;
  }
  
  &__circle {
    @include checkCirlce($main-black-color);
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    padding: 10px 5px;
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    border: none;
    &:focus {
      outline: none;
      border: none;
    }

    &::placeholder {
      font-size: 1.1rem;
    }
  }
  &_active {
    border-color: $main-color;
  }
}