@import '../../scss/var';
@import '../../scss/mixin';


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;

  background-color: $main-color;

  &__logo {
    font-size: 15px;
    color: #fff;

    margin-left: 20px;
  }

  &__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    background-color: #ffff;

    border-radius: $border-radius;
  }

  &__input {
    width: 100%;
    padding: 5px 30px;
    background-color: rgba($color: $main-color, $alpha: .15);
    border: none;

    &::placeholder {
      opacity: 0;
    }

    &:focus {
      outline: none;
      border: none;
      border-radius: $border-radius;
      background-color: #fff;

      &::placeholder {
        opacity: 1;
      }
    }
  }

  &__button {
    position: absolute;
    padding: 10px;
    color: $main-black-color;

    &:hover {
      cursor: pointer;
      opacity: .5;
    }

    &_left {
      left: 0;
      &:hover {
        opacity: 1;
        cursor: auto;
      }
    }

    &_right {
      right: 0;
     
    }
  }

  &__setting {
    //width: 100px;
  }

  &__logout {
    font-size: 25px;
    color: #fff;
    padding: 0 10px;

    &:hover {
      cursor: pointer;
    }
  }
}