$main-black-color: #383838;
$main-gray-color: #d3d2d2;
$main-color: #3489eb;
$second-color: #8cc8ff;
$second-color-gray: #fafafa;
$bar-color: #f4f4f4;
$bar-border-color: #eaeaea;
$red-color: #db3a29;

$border-radius: 3px;

$header-height: 50px;
$task-height: 50px;